/*----FONT---*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    list-style: none;
    text-decoration: none;
}

:root {
    --header-height: 3rem;

    /*===== Color Palette =====*/
    --first-color: #fcb7a4;
    --second-color: #c18957;
    --third-color: #a86f3e; 
    --white-color: #FCF8F8;

    /*===== Font and typography =====*/
    --big-font: 'Courgette';
    --head-font: 'sans-serif';
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
}

body {
    background-image: url('asset/abstract-gradient-neon-lights.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    color: var(--white-color);
}

h1 {
    font-family: 'Courgette', sans-serif;
    padding-left: 15rem;
    padding-top: 10rem;
}

h2 {
    font-family: 'Courgette', sans-serif;
    padding-left: 1rem;
    padding-top: 1rem;
}

header.sticky {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgba(211, 211, 211, 0.274);
    transition: all .45s ease;
}

.navbar,
.navlist {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    width: 50%;
    height: 90%;
    border: 3px solid var(--second-color);
    border-radius: 50px; /* Make it oval */
    z-index: -1;
}

.navlist {
    display: flex;
    justify-content: space-between; /* Added space between each button */
    align-items: center;
    width: 500px;
    margin-left: 25rem; /* Adjusted margin to add space between each button */
}

.navlist a {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .3s ease;
}

.navlist a:hover,
.navlist a.active {
    color: var(--first-color);
}

.hamburger {
    display: none;
}

.hamburger i {
    font-size: 1.7rem;
}
