/*----FONT---*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    list-style: none;
    text-decoration: none;
}

:root {
    --header-height: 3rem;

    /*===== Color Palette =====*/
    --first-color: rgb(246, 164, 252);
    --second-color: #c157aa;
    --third-color: #a83e91; 
    --white-color: #FCF8F8;
    
    /*===== Font and typography =====*/
    --big-font: 'Courgette';
    --head-font: 'sans-serif';
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
}

body {
    background-image: url('asset/background\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: right top;
    color: var(--white-color);
}

h1 {
    font-family: 'Courgette', sans-serif;
    text-align: center; /* Center the text horizontally */
    padding-top: 10rem;
    color: var(--white-color);
}

.p {
    font-family: sans-serif;
    text-align: center; /* Center the text horizontally */
    padding-top: 20rem;
    padding-left: 0; /* Adjusted the padding-left to center the paragraph */
    color: var(--white-color);
}

.navbar {
    background-image: url('asset/background\ \(2\).jpg') !important;
    background-repeat: no-repeat;
    background-position: right top;
}

.navbar-brand {
    font-family: 'Courgette', sans-serif;
    color: var(--white-color);
    margin: 0 20px; 
}

.navbar-brand:hover {
    border: 2px solid transparent;
    border-radius: 20px;
    color: var(--white-color);
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.navbar-nav {
    font-family: 'Courgette', sans-serif;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.3); 
    border: 2px solid transparent; 
    border-radius: 50px;
    transition: background-color 0.3s ease; 
}

.navbar-nav:hover {
    border: 2px solid var(--white-color); 
    border-radius: 50px;
}

.nav-item {
    color: var(--white-color);
    margin : 0 20px;
   
}

.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.3); 
    transition: background-color 0.3s ease; 
    border :2.5px solid var(--white-color);
    border-radius: 50px;
    margin-left: 20px;
    
}


.nav-item.middleboo {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.3); 
    border: 2.5px solid var(--white-color);
    border-radius: 50px;
    margin-left: 20px;
}






