<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../UASSSFE/asset/logoUASFE.png">
        <title>ng e-Asdos Bookstore</title>
        <link rel="stylesheet" type="text/css" href="home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://kit.fontawesome.com/8f441d49ca.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    

<body ng-app="bookApp" ng-controller="BookController">
    <header class="sticky">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand " href="#">NG e-Asdos BookStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="landing.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="ourBooks.html">Our Books</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="search.html">Search</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="trolley.html">Trolley</a>
                            </li>
                    </div>
                </div>
            </div>
        </nav>
    
        <h1>Welcome!</h1>
        <center>
            <p><span2>Let's expand your mind by reading books!</span2></p>
        </center>
    
            <div id="bookshelf" class="animated-bookshelf">
                <div ng-repeat="book in books" class="book" ng-click="showBookDetails(book)">
                    <img ng-src="{{book.thumbnail}}" alt="{{book.title}} Cover">
                    <h3>{{book.title}}</h3>
                </div>
            </div>
    
            <div id="overlay" class="overlay" ng-show="selectedBook">
                <div class="overlay-content">
                    <img ng-src="{{selectedBook.thumbnail}}" alt="{{selectedBook.title}} Cover">
                    <h3>{{selectedBook.title}}</h3>
                    <p>{{selectedBook.description}}</p>
                    <button ng-click="hideBookDetails()">X</button>
                </div>
            </div>
    
            <script src="homee.js"></script>
    
        
            <!--About-->
    <section class="about" id="about">
        <h1 class="heading"><span>About</span> Us </h1>
        <div class="row">
            
            <div class="content"></div>
            <h3><i>"What is <span2>Ng e-Asdos Bookstore?"</span2></i></h3>
            <p>
                <b><span2>ng e-Asdos Bookstore</span2></b> adalah salah satu online Bookstore
                    yang menjual berbagai macam novel dengan genre yang berbeda-beda
                    seperti romance, fiksi, fantasy, fan fiction, mystery, comedy, dll.

                </p></center>
            <a href="ourBooks.html" class="action-btn">More Info</a>
            </div>
        
    </section>

    <!--Contact us-->
    <footer id = "CP">
    <section class="contact" id="contact">
        <h3>Contact Us</h3>

        <div class="info-column">
        <div class="info-container">
            <p><i class="fas fa-solid"></i>Elsie</p>
            <p><i class="fas fa-number"></i>535220076</p>
            <p><a href="https://www.instagram.com/Elsie_ng15" target="_blank"><img src="asset/logoig.png" alt="Elsie_ng15">Elsie_ng15</a></p>
        </div>
    
        <div class="info-container">
            <p><i class="fas fa-solid"></i>Jechenthia Maria Taso</p>
            <p><i class="fas fa-number"></i>535220081</p>
            <p><a href="https://www.instagram.com/Jcheytaso_" target="_blank"><img src="asset/logoig.png" alt="Jcheytaso_">Jcheytaso_</a></p>
        </div>
        </div>

        <div class="info-column">
        <div class="info-container">
            <p><i class="fas fa-solid"></i>Chelsia Cindeleria Herwanto</p>
            <p><i class="fas fa-number"></i>535220083</p>
            <p><a href="https://www.instagram.com/chelsia_cindeleria" target="_blank"><img src="asset/logoig.png" alt="chelsia_cindeleria">chelsia_cindeleria</a></p>
        </div>

        <div class="info-container">
            <p><i class="fas fa-solid"></i>Widya Khaerunnisyah</p>
            <p><i class="fas fa-number"></i>535220262</p>
            <p><a href="https://www.instagram.com/widyaaks" target="_blank"><img src="asset/logoig.png" alt="widyaaks">widyaaks</a></p>
        </div>
    </div>  
</div>
        <div class="info-container">
            <center>© Created by :<span> ng e-Asdos</span> </center>
            <center>© Designed by :<span> ng e-Asdos</span> </center>
        </div>
        </div>
    </section>
    </footer>
</body>

</html>