/*----FONT---*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    list-style: none;
    text-decoration: none;
}

:root {
    --header-height: 3rem;

    /*===== Color Palette =====*/
    --first-color: rgb(246, 164, 252);
    --second-color: #c157aa;
    --third-color: #a83e91; 
    --white-color: #FCF8F8;
    
    /*===== Font and typography =====*/
    --big-font: 'Courgette';
    --head-font: 'sans-serif';
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
}

header.sticky {
    position: flex;
    width: 100%;
    height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
}

body {
    background-image: url('asset/background\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: right top;
    color: var(--white-color);
}

h1 {
    font-family: 'Courgette', sans-serif;
    text-align: center; /* Center the text horizontally */
    padding-top: 10rem;
    color: var(--white-color);
}

h3 {
    font-family: 'Courgette', sans-serif;
    text-align: center; /* Center the text horizontally */
}

.p {
    font-family: sans-serif;
    text-align: center; /* Center the text horizontally */
    padding-top: 1rem; /* Adjusted the padding-top for spacing */
    color: var(--white-color);
}

.navbar {
    background-image: url('asset/background\ \(2\).jpg') !important;
    background-repeat: no-repeat;
    background-position: right top;
}

.navbar-brand {
    font-family: 'Courgette', sans-serif;
    color: var(--white-color)!important; 
    margin: 0 20px; 

}

.navbar-brand:hover {
    border: 2px solid transparent;
    border-radius: 20px;
    color: var(--white-color);
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.navbar-nav {
    font-family: 'Courgette', sans-serif;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.3); 
    border: 2px solid transparent; 
    border-radius: 50px;
    transition: background-color 0.3s ease; 
    
}

.navbar-nav:hover {
    border: 2px solid transparent;
    border-radius: 50px;
    
}

.nav-item {
    color: var(--white-color);
    margin : 0 20px;
   
}

.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.3); 
    transition: background-color 0.3s ease; 
    border-radius: 50px;
    margin-left: 10px;
    
     transform: scale(1.1); 
    transition: transform 0.3s ease; 
    
}


footer {
    color: var(--third-color);
    text-align: center;
    background-image: url('asset/background\ \(2\).jpg');
    background: linear-gradient(to bottom,  rgb(11, 2, 10)) 30%,  rgb(211, 115, 196) 200%;
    padding: 1.5rem;
    overflow: hidden;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-column {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.info-container {
    text-align: center;
    margin: 20px;
}

warna {
    color: var(--white-color);
}

span {
    color: var(--white-color);
    margin-top: auto;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.book:hover {
    transform: scale(1.1);
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.overlay img {
    max-width: 100%;
    max-height: 300px;
}


.overlay-content p {
    font-family: var(--head-font); 
    color: var(--white-color);
}

.book {
    border: 1px transparent;
    margin: 2px;
    padding: 10px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    font-family: var(--head-font); 
    color: var(--white-color);
}

.book h3 {
    font-size: 14px; 
    margin-top: 5px; 
}

.info-container img {
    max-width: 25px; 
    max-height: 25px; 
    border-radius: 50%; 
    color: var(--white-color);
}

.info-container alt {
    color: var(--white-color);
}

span2 {
    color: var(--first-color);
}

section.about {
    padding-bottom: 10%;
    margin-left:20%;
    margin-right:20%;
    
}

.action-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: var(--first-color);
    padding: 0.5em 2em;
    border-radius: 60px;
    margin: 1em 0;
    transition: 0.3s;

  }