/*----FONT---*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    list-style: none;
    text-decoration: none;
}

:root {
    --header-height: 3rem;

    /*===== Color Palette =====*/
    --first-color: rgb(246, 164, 252);
    --second-color: #c157aa;
    --third-color: #a83e91; 
    --white-color: #FCF8F8;
    
    /*===== Font and typography =====*/
    --big-font: 'Courgette';
    --head-font: 'sans-serif';
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
}

body {
    background-image: url('asset/background\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: right top;
    color: var(--white-color);
}

h1 {
    font-family: 'Courgette', sans-serif;
    padding-left: 15rem;
    padding-top: 10rem;
    color: var(--white-color);
}

.navbar {
    background-image: url('asset/background\ \(2\).jpg') !important;
    background-repeat: no-repeat;
    background-position: right top;
}

.navbar-brand {
    font-family: 'Courgette', sans-serif;
    color: var(--white-color);
    margin: 0 10px; /* Add margin to create spacing between navbar buttons */
}

.navbar-brand:hover {
    border: 2px solid var(--white-color);
    border-radius: 20px;
    color: var(--white-color);
    transform: scale(1.1); /* Enlarge the button on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.navbar-nav {
    font-family: 'Courgette', sans-serif;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.3); /* Set the initial background color to transparent white (30% opacity) */
    border: 2px solid transparent; /* Add a default transparent outline */
    border-radius: 50px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect for the background color */
}

.navbar-nav:hover {
    background-color: var(--white-color); /* Set the background color to opaque white on hover */
    border: 2px solid var(--white-color); 
    border-radius: 50px; /* Ensure border-radius is set in both normal and hover states */
}

.nav-item {
    color: var(--white-color);
}
