
/* Landing Page */
section.landing {
    /* Background Image */
    background-image: url(asset/background.jpg);
    background-size: cover;
    height: 125vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(asset/background.jpg);
    background-repeat:no-repeat ;
    background-position: right top; 
    

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.landing-img img {
    max-width: 460px;
    height: auto;
    width: 110%;
}

.button {
    display: inline-block;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #e045ee; /* Warna latar belakang tombol */
    color: #ffffff; /* Warna teks tombol */
    border-radius: 5px; /* Sudut bulat */
    transition: background-color 0.3s ease; /* Animasi perubahan warna latar belakang */
}

.btn:hover {
    background-color: rgb(211, 115, 196)( 41, 185); /* Warna latar belakang tombol saat dihover */
};