body {
    font-family: 'Courgette', sans-serif;
    background-color: #5e174e;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #603657;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: 'Courgette', sans-serif;
    text-align: center; /* Center the text horizontally */
    padding-top: 5rem;
    color: white;
}

main {
    padding: 20px;
}

#search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#search-input {
    flex: 1;
    padding: 10px;
}

#category-select {
    padding: 10px;
}

button {
    padding: 10px 30px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
