/*----FONT---*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    list-style: none;
    text-decoration: none;
}

:root {
    --header-height: 3rem;

    /*===== Color Palette =====*/
    --first-color: rgb(246, 164, 252);
    --second-color: #c157aa;
    --third-color: #a83e91; 
    --white-color: #FCF8F8;
    
    /*===== Font and typography =====*/
    --big-font: 'Courgette';
    --head-font: 'sans-serif';
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
}

header.sticky {
    position: flex;
    width: 100%;
    height: 60px;
    color: white;
    padding: 10px;
    text-align: center;
}

body {
    background-image: url('asset/background\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: right top;
    color: var(--white-color);
}


.navbar {
    background-image: url('asset/background\ \(2\).jpg') !important;
    background-repeat: no-repeat;
    background-position: right top;
}

.navbar-brand {
    font-family: 'Courgette', sans-serif;
    color: var(--white-color);
    margin: 0 20px; 

}

.navbar-brand:hover {
    border: 2px solid transparent;
    border-radius: 20px;
    color: var(--white-color);
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.nav-brand:hover{
    background-color: rgba(255, 255, 255, 0.3); 
    transition: background-color 0.3s ease; 
    border-radius: 50px;
    margin-left: 10px;
     transform: scale(1.1); 
    transition: transform 0.3s ease; 
}


.navbar-nav {
    font-family: 'Courgette', sans-serif;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.3); 
    border: 2px solid transparent; 
    border-radius: 50px;
    transition: background-color 0.3s ease; 
    
}

.navbar-nav:hover {
    border: 2px solid transparent;
    border-radius: 50px;
}

.nav-item {
    color: var(--white-color);
    margin : 0 20px;
}

.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.3); 
    transition: background-color 0.3s ease; 
    border-radius: 50px;
    margin-left: 10px;
    
     transform: scale(1.1); 
    transition: transform 0.3s ease; 
    
}

.btn {
    color: var(--white-color);
}

.trolley {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.trolley h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

#trolleyItems {
    list-style: none;
    padding: 10px;
}

#trolleyItems div {
    margin-bottom: 8px;
}

#totalPrice {
    font-weight: bold;
}
